@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

:root{
  --blue:#0B2F9F;
  --black:#232323;
}

*{
  font-family: 'Roboto', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  border:none !important;
  outline: none !important;
  text-decoration: none !important;
  text-transform: capitalize;
  font-weight: 400;
  transition: all .2s linear;
}


*::selection{
  background:var(--black);
  color:#FEF9D9;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

section{
  overflow: hidden;
}

.heading{
  text-align: center;
  font-size: 4rem;
  padding:1rem;
  padding-top: 8rem;
  color:var(--black);
}

.heading span{
  color:var(--blue);
}

header{
  width:100%;
  position: fixed;
  top:0; left: 0;
  /*padding:1rem;*/
  z-index: 1000;
  background-color: #45DFB1!important;

}

.header-active{
  background:#FEF9D9;
  box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
  padding: .5rem 1rem;
}

header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar
{
  max-width: 85%!important;
}

header a{
  color: #0B6477;
}

header a:hover{
  color: #9400FF;
  transform: scale(1.3); /* Increases size by 10% */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.btn 
{
  background: #9400FF !important;;
  color: #ffffff !important;
}

.btn:hover
{
  transform: scale(1.4); /* Increases size by 10% */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.nav ul li:hover
{
  transform: scale(1.4); /* Increases size by 10% */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}





header .container .logo{
  font-size: 4rem;
}

header .container .logo span{
  color: rgb(0, 0, 0);
}


header .navbar
{
  /*background-color: #81B29A ;*/
  color: #ffffff;
  padding: 10px; /* Optional padding */
  border-radius: 5px; /* Optional rounded corners */
}

header .nav ul{
  margin:0; padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .nav ul li{
  margin: 0 1rem;
}

header .nav ul li a{
  font-size: 2rem;
  font-weight: bold;
}

.home .content h1{
  font-size: 5rem;
  color:var(--black);
}

.home .content h1 span{
  color: #9400FF;
}

.home .content h4{
  font-size: 3rem;
  color:var(--black);
}




.about{
    background: #c3faea;
  }
  
  .about .content .box{
    margin:3rem 0;
  }
  
  .about .content .box h3{
    font-size: 2.5rem;
    color:black;
  }
  
  .about .content .box h3 i{
    padding: 0 1rem;
    color:rgb(11, 11, 230);
  }
  
  .about .content .box p{
    font-size: 1.7rem;
    padding-left: 6rem;
    color: #9400FF;
  }





  .facility{
    min-height: 100vh;
  }
  
  .facility .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3rem;
  }
  
  .facility .box-container .box{
    height:20rem;
    width:30rem;
    margin:.3rem;
    overflow: hidden;
  }
  
  .facility .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
  }
  

.container .box-container .box:hover
  {
    transform: scale(1.1); /* Increases size by 10% */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
  }
  
  .counter .box-container{
    background:#c3faea;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
  }
  
  .counter .box-container .box{
    margin:2rem 5rem;
    text-align: center;

  }



  .review .heading{
    color:#FEF9D9;
  }
  
  .review .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
  }
  
  .review .box-container .box{
    background:#c9f5d3;
    width:30rem;
    margin:5rem 1rem;
    padding:1.5rem;
    position: relative;
  }
  
  .review .box-container .box img{
    position: absolute;
    bottom: -7.5rem; left: -1rem;
    height:60%;
    width:50%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .review .box-container .box p{
    font-size: 1.8rem;
    color:var(--black);
  }
  
  .review .box-container .box h3{
    text-align: end;
    color:var(--blue);
  }
  
  .review .box-container .box span{
    text-align: end;
    color:var(--black);
    display: block;
    font-size: 1.5rem;
  }
  
  .review .box-container .box::before{
    content: '';
    position: absolute;
    bottom: -1rem; left:.4rem;
    height:2rem;
    width:2rem;
    background:#14919B;
    transform: rotate(45deg);
  }

  .review .container .box-container .box:hover
  {
    transform: scale(1.1); /* Increases size by 10% */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
  }
  
  .counter .box-container .box i{
    color:var(--blue);
    font-size: 5rem;
  }
  
  .counter .box-container .box span{
    color:var(--black);
    font-size: 3rem;
    display: block;
    padding:1rem 0;
  }
  
  .counter .box-container .box h3{
    color:#666;
  }


  
  /***************    FOOTER   *********************/
  .footer{
   background:  #45DFB1;
  }

  .footer ,.logo
  {
    font-weight: bold;
  }
  
  .footer p{
    font-size: 1.55rem;
    color:#232323;
    padding:1rem 0;
  }
  
  .footer .col-md-4{
    padding:1.3rem
  }
  
  .footer .col-md-4:nth-child(1) a{
    font-size: 3rem;
    color:#9400FF;
  }
  
  .footer .col-md-4:nth-child(1) a span{
    color:var(--blue);
  }
  
  .footer a{
    font-size: 1.7rem;
    color:#190482;
    display: block;
  }
  
  .footer h3{
    color:#9400FF;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .footer a:hover{
    color:var(--blue);
  }
  
  .footer .credit{
    color:#000;
    font-style: italic;
    width:80%;
    margin:0;
    padding:2rem 0;
    padding-bottom: 4rem;
    border-top: .1rem solid rgb(255, 251, 2) !important;
  }
  
  .footer .credit span{
    color:var(--blue);
  }
  
  